<eyebrow />
<div class="page-container">
    <div class="page-frame">
        <div class="page-frame-inner">
            <div ng-transclude></div>
        </div>
        <div class="stepper-container col-md-12 text-center">
            <button class="btn btn-success" ng-click="prevPage(onPrev)" ng-if="hasPrev">Previous</button>
            <button class="btn btn-primary" ng-click="nextPage(onNext)" ng-if="hasNext">{{hasPrev ? "Next" : "Start"}}</button>
            <button class="btn btn-primary" ng-if="!hasNext">Submit</button>
        </div>
    </div>
</div>
